.underline-below:after {
  content: "";
  width: 65px;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(100, 255, 115);
  left: 0;
  margin: 0px auto;
  position: relative;
  display: block;
  top: 5px;
}

.carousel-container {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.carousel-text {
  text-align: left;
  font-size: 48px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 6%;
}
.btn-filter-active {
  background-color: green !important;
}
.btn-filter {
  width: 100%;
  border: none;
  background-color: unset;
  font-size: large;
  text-align: left;
}
.btn-filter:focus,
.btn-filter:active {
  outline: none !important;
  border: none !important;
}

.product_hidden {
  display: none;
}
#left_Sidebar {
  border-right: 0.25px solid lightgray;
}
#filter {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .carousel-container {
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .carousel-text {
    text-align: center;
    font-size: xx-large;
  }
  #left_Sidebar {
    border-right: none;
    text-align: center;
    padding-top: 8px;
  }
  #filter {
    display: flex;
    flex-direction: row;
  }
  #filter > button {
    text-align: center;
  }
}
